.blog-cnt
  padding-top: 80px
  +clrfix
  section
    width: 80%
    float: left

  aside
    width: 20%
    float: right
  h1
    padding-bottom: 15px
  ul
    +clrfix
    margin: 0 -1%
  li
    padding: 10px
    border: 1px solid bgc(#ddd,.2)
    background: bgc(#ddd,.3)
    float: left
    width: 48%
    margin: 0 1% 2%
    >a
      display: block
    h2,.heading
      font-size: 20px
      color: #444
      letter-spacing: 1px
      display: block
      padding-bottom: 5px
    span
      font: 16px $sf
      a
        font-size: 14px
        color: $pc
