.blog-listing
  .post
    a
      display: block
      font-size: em(16)
    main
      position: relative
      .category
        position: absolute
        right: em(10)
        top: em(10)
        background-color: $pc
        padding: em(5) em(10)
        color: #fff
        border-radius: 3px
        font-size: em(12)
        text-transform: uppercase
    header
    footer
      background-color: #f3f3f3
      padding: em(10) em(15)
      .author
        font-size: em(12)
        padding-top: em(5)
        color: #000

.blog-aside
  >article
    margin-bottom: em(15)
