<footer class="footer">
  <div class="container">
    <nav>
      <ul>
        <li><a href="#">Team</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <div class="social-media">
      <ul>
        <li class="fb">
          <a href="#">
            <i class="is is-fb">
              {% include icon/fb.html %}
            </i>
          </a>
        </li>
        <li class="yt">
          <a href="#">
            <i class="is is-yt">
              {% include icon/yt.html %}
            </i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
