<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content=""/>
  <meta name="keywords" content=""/>

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <meta name='keywords' content="{% if page.metakeyword %} {{ page.metakeyword }} {{site.metakeyword}} {% else %} {{site.metakeyword}} {% endif%}" />
  <meta name='description' content='{% if page.metadescription %} {{ page.metadescription }} -- {{site.metadescription}} {% else %} {{site.metadescription}} {% endif%}' />
  <meta property='og:title' content='{{site.title}}' />
  <meta property='og:url' content='{{site.baseurl}}' />
  <meta property='og:type' content='website' />
  <meta property='og:image' content='{% if page.mainImg %} {{site.baseurl}}/{{page.mainImg}} {% else %} {{site.baseurl}}/{{site.mainImg}} {% endif%}' />
  <meta property='og:site_name' content='{{site.title}}' />
  <meta property='og:description' content='{% if page.metadescription %} {{ page.metadescription }} {% else %} {{site.metadescription}} {% endif%}' />

  <title>{{site.title}}</title>
  <link rel="icon" href="{{site.baseurl}}/images/favicon.png" type="image/png" sizes="16x16">
  {% if site.fontawesome == true  or  page.fontawesome == true %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  {% endif%}
  <link rel="stylesheet" href="{{site.baseurl}}/styles/styles.css">
  <script src="{{site.baseurl}}/scripts/jquery-min.js" charset="utf-8"></script>
</head>
