<meta charset="utf-8">
<meta name='keywords' content= '{{ page.meta_keywords }}' />
<meta name='description' content= '{{ page.meta_discription }}' />
<meta property='og:title' content='url4u - Unique Resource Library ' />
<meta property='og:url' content='https://prataprockerss.github.io/url4u/' />
<meta property='og:type' content='website' />
<meta property='og:site_name' content='url4u' />
<meta property='og:description' content='{{ page.meta_discription }}' />
<title> {{site.title}} </title>
<link rel="stylesheet" href="{{site.baseurl}}/styles/styles.css">
