{% if site.slick == true or page.slick == true %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js" charset="utf-8"></script>
  <script src="{{site.baseurl}}/scripts/slick-calling.js" charset="utf-8"></script>
{% endif%}
{%if site.lazyload == true or page.lazyload == true %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.4/jquery.lazy.min.js" charset="utf-8"></script>
<script  charset="utf-8">
  $(window).load(function(){
    $('img.lazy').Lazy({
        // your configuration goes here
        scrollDirection: 'vertical',
        effect: 'fadeIn',
        visibleOnly: true,
        placeholder: false,
        onError: function(element) {
            console.log('error loading ' + element.data('src'));
        }
    });
  })
</script>
{% endif %}

{% if site.jssocials == true or page.jssocials == true %}
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
<script type="text/javascript">
  $(".share-tool").jsSocials({
    shareIn: "popup",
    shares: ["twitter", "facebook", "googleplus", "linkedin", "pinterest", "stumbleupon", "whatsapp"]
  });
  $(".share-small").jsSocials({
    showLabel: false,
    showCount: false,
    shareIn: "popup",
    shares: ["twitter", "facebook","whatsapp"]
  });
</script>
{% endif %}


<script src="{{site.baseurl}}/scripts/common.js" charset="utf-8"></script>
