%h1,
h1
  color: $pc
  font: rem($heading-size) $pf
  padding-bottom: 12px
+headings($heading-size-differnce)

p
  font: 300 rem(16) / rem(24) $sf
  padding-bottom: 12px

em
  font-style: italic

strong
  font-weight: bold

hr
  border: solid #ddd
  border-width: 1px 0 0
  clear: both
  margin: 10px 0 30px
  height: 0
